*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.row{
    width: 100%;
    text-align: center;
}

.product img{
    height: 400px;
    padding: 4px;
}

.product {
    display: inline-block;
    
}