*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    text-align: center;
}

.row{
    margin-bottom: 70px;
}

.product {
    display: inline-block;
    position: relative;
    
}

.product img{
    height: 400px;
    max-width: 100%;
}


/* caption */
.product .caption{
    position: absolute;
    
}

.caption{
    text-align: left;
}

.caption .brand{
    font-size: 10px;
   
    
}

.caption .name-cloth{
    font-weight: 800;
    
}

.caption .price{
    font-size: 12px;
    color: red;
    display: inline-block;
    
}

.caption .old-price{
    text-decoration: line-through;
    display: inline-block;
      
}

/* end caption */

/* heart */

.product .heart{
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 10px;
    top: 25px;
    right: 0;
}

/* discout */

.product .discount-label{
    position: absolute;
    background-color: fuchsia;
    color: white;
    font-size: 8px;
    padding: 3px;
    bottom: 20px;
    left: 0;
}

.product .sostenibilità{
    position: absolute;
    background-color: green;
    color: white;
    font-size: 8px;
    padding: 3px;
    bottom: 20px;
    left: 30px;
}

.sostenibilità-special{
    position: absolute;
    background-color: green;
    color: white;
    font-size: 8px;
    padding: 3px;
    bottom: 20px;
    left: 0px;

}